openapi: 3.0.0
info:
  title: OpenWeatherMap API
  description: API for retrieving weather data from OpenWeatherMap
  version: 1.0.0
servers:
  - url: https://api.openweathermap.org/data/2.5
paths:
  /weather:
    get:
      summary: Get current weather data for a location
      parameters:
        - name: q
          in: query
          required: true
          description: Name of the location to retrieve weather data for
          schema:
            type: string
        - name: appid
          in: query
          required: true
          description: Your API key for accessing the API
          schema:
            type: string
      responses:
        '200':
          description: Current weather data for the specified location
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                      lat:
                        type: number
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        main:
                          type: string
                        description:
                          type: string
                        icon:
                          type: string
                  base:
                    type: string
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                      feels_like:
                        type: number
                      temp_min:
                        type: number
                      temp_max:
                        type: number
                      pressure:
                        type: number
                      humidity:
                        type: number
                  visibility:
                    type: number
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                      deg:
                        type: number
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                  dt:
                    type: number
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                      id:
                        type: number
                      country:
                        type: string
                      sunrise:
                        type: number
                      sunset:
                        type: number
                  timezone:
                    type: number
                  id:
                    type: number
                  name:
                    type: string
                  cod:
                    type: number
